{:version 1 :tested-at "2026-10-02T13:19:40-05:00" :source "src/uml_viewer/main/uml_viewer.clj" :namespace "uml-viewer.main.uml-viewer" :outcomes {} :forms [{:id "defn/-main" :kind "defn" :file "src/uml_viewer/main/uml_viewer.clj" :line 10 :end-line 16 :hash "454f87662dc070b2d968e736e068e7bd11da4455f32eda6ae000a09f9d3389b3" :killed 0 :survived 0 :uncovered 1 :sites 1}]}
