{:version 1 :tested-at "2026-10-02T13:19:40-05:00" :source "src/uml_viewer/rust_language/source_rust.clj" :namespace "uml-viewer.rust-language.source-rust" :outcomes {"[\"src/uml_viewer/rust_language/source_rust.clj\",\"uml-viewer.rust-language.source-rust\",\"defn/extract-member\",1028,1030,\"or\",\"and\"]" :killed "[\"src/uml_viewer/rust_language/source_rust.clj\",\"uml-viewer.rust-language.source-rust\",\"defn/extract-member\",957,959,\"or\",\"and\"]" :killed} :forms [{:id "defn/member-line" :kind "defn" :file "src/uml_viewer/rust_language/source_rust.clj" :line 15 :end-line 18 :hash "176ab50ecc001fe5413e5eea06107acfa692b828a5379a01a145b701ea8448d4" :killed 0 :survived 0 :uncovered 0 :sites 0} {:id "defn/extract-member" :kind "defn" :file "src/uml_viewer/rust_language/source_rust.clj" :line 20 :end-line 26 :hash "21ce53e510a99f8a450edc919b37cb38e7bed5d3e7db7c778dd1436835bef062" :killed 2 :survived 0 :uncovered 0 :sites 2}]}
