{:version 1 :tested-at "2026-10-02T13:19:40-05:00" :source "src/uml_viewer/domain/log.clj" :namespace "uml-viewer.domain.log" :outcomes {"[\"src/uml_viewer/domain/log.clj\",\"uml-viewer.domain.log\",\"defn/log-exception!\",462,466,\"true\",\"false\"]" :killed "[\"src/uml_viewer/domain/log.clj\",\"uml-viewer.domain.log\",\"defn/log-exception!\",529,533,\"when\",\"when-not\"]" :killed "[\"src/uml_viewer/domain/log.clj\",\"uml-viewer.domain.log\",\"defn/log-exception!\",661,665,\"true\",\"false\"]" :killed} :forms [{:id "defn/log-exception!" :kind "defn" :file "src/uml_viewer/domain/log.clj" :line 9 :end-line 22 :hash "c6c1d04a02d4b52bfa45f6319e59ca7b4cd95662e7804df16cae08853b3f6621" :killed 3 :survived 0 :uncovered 0 :sites 3} {:id "defn/install-exception-log!" :kind "defn" :file "src/uml_viewer/domain/log.clj" :line 24 :end-line 30 :hash "a18cfe167b9b559aa45474a5d87fe5447356aa25bbc32fdac8d82f1f79ca6662" :killed 0 :survived 0 :uncovered 0 :sites 0}]}
