{:candidates [
 {:score 1.0
  :language "clojure"
  :left {:file "src/uml_viewer/adapters/draw.clj", :start-line 40, :end-line 43}
  :right {:file "src/uml_viewer/adapters/draw.clj", :start-line 45, :end-line 48}
  :left-nodes 36
  :right-nodes 36}
 {:score 1.0
  :language "clojure"
  :left {:file "src/uml_viewer/domain/config.clj", :start-line 19, :end-line 28}
  :right {:file "src/uml_viewer/domain/config.clj", :start-line 30, :end-line 39}
  :left-nodes 61
  :right-nodes 61}
 {:score 1.0
  :language "clojure"
  :left {:file "src/uml_viewer/domain/config.clj", :start-line 63, :end-line 70}
  :right {:file "src/uml_viewer/domain/config.clj", :start-line 83, :end-line 90}
  :left-nodes 56
  :right-nodes 56}
 {:score 1.0
  :language "clojure"
  :left {:file "src/uml_viewer/graph.clj", :start-line 16, :end-line 20}
  :right {:file "src/uml_viewer/source.clj", :start-line 18, :end-line 22}
  :left-nodes 21
  :right-nodes 21}
 {:score 0.842105263158
  :language "clojure"
  :left {:file "src/uml_viewer/python_language/graph_python.clj", :start-line 324, :end-line 332}
  :right {:file "src/uml_viewer/typescript_language/graph_typescript.clj", :start-line 397, :end-line 406}
  :left-nodes 107
  :right-nodes 114}
]}
